streamlit
pandas==1.4.3
plotly
requests
numpy
ta-lib-bin
matplotlib
vectorbt
akshare
bokeh==2.4.3
streamlit_bokeh_events
statsmodels
streamlit_quill
riskfolio-lib
humanize
seaborn
EMD-signal
vmdPY
tftb
